body {
    background-color: #333;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10%;
    margin: 0;
}
@media (max-width: 600px) {
    body {
        padding-top: 20%;
        font-size: 14px;
    }
}

.reload-button {
    padding: 10px 20px;
    background-color: #424642;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
}

@media (max-width: 600px) {
    .reload-button {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
}


.reload-button:hover {
    background-color: #3d8c41;
}
